# ---------------------------
# .NET Core build artifacts
# ---------------------------
bin/
obj/
**/bin/
**/obj/

# ---------------------------
# Visual Studio files
# ---------------------------
.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ---------------------------
# VSCode settings
# ---------------------------
.vscode/
**/.vscode/

# ---------------------------
# Node.js dependencies
# ---------------------------
node_modules/
wwwroot/node_modules/
